{
    "env": {
        "outlineServers": [
            // outline servers API config
            {
                "url": "https://abc.com:123/456", // accessUrl
                "cert": "123ABC456DEF789GHI" // certSha256
            }
        ]
    },
    "keyConfig": {
        "expiresAfter_days": 1, // how many days key will work
        "limit": 10 // key data limit (in GB)
    },
    "keyCreateCron": "0 * * * *", // key create cron expression (https://crontab.guru)
    "subscribeLink": {
        // visual text and link in the bottom of the post
        "text": "Купить VPN",
        "link": "https://t.me/telegavpn_bot?start=123"
    },
    "countries": {
        // country text by server IP/domain
        "vpn.abc.com": "🇩🇪 Германия",
        "12.34.56.78": "🇸🇪 Швеция"
    },
    "channelIDs": [] // channel chatIDs (forward message from channel to https://t.me/getmyid_bot to get ID)
}
